.formContainer{
padding: 20px;
  background-color: #243d5b;
  width: 20%;
  margin: auto;
  margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

input{
  height: 30px;
  width: 90%;
  background-color: rgb(35, 69, 69);
  color: white;

  border-radius: 8px;
  padding: 5px;
}
::placeholder{
  color: white;
}
body{
  background-color: whitesmoke;
}

button{
  width: 70%;

  height: 40px;
  background-color: rgb(204, 78, 78);
  font-weight: bolder;
  font-size: large;
  border-radius: 8px;
  

}

button:hover{
  background-color: red;
}

h3{
  color: whitesmoke;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



  /* Small screens */
  @media all and (min-width: 100px) and (max-width: 896px) {
    

    .formContainer{
      padding: 20px;
        background-color: #243d5b;
        width: 60%;
        margin: auto;
        margin-top: 50px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      
      }

      h3{
        font-size: medium;
      }
      button{
        font-size: medium;
      }

      
      
  }